.categoryWisePostsContainer {
    .content {
        width: 95%;
        margin: 0 auto;
        .categoriesList {
            position: sticky;
            top: 0;
            background-color: white;
            padding: 10px 0;
            overflow-x: scroll;
            display: flex;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .mainContent {
            margin-top: 20px;

            .contentList {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-gap: 40px;
                .categoryItem {
                    cursor: pointer;
                    .categoryItemImage {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                    .category {
                        background-color: #e9494b;
                        width: 110px;
                        text-align: center;
                        font-weight: bold;
                        color: white;
                        padding: 5px 0;
                        border-radius: 10px;
                        margin-bottom: 5px;
                        margin-left: auto;
                        margin-right: 5px;
                    }
                    .headline {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
