.categoriesList {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
    .homeButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 2px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}