.categoriesListItemContainer {
    margin-top: 50px;
    .titleContainer {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
        .sectionTitle {
        }
        .viewAllContainer {
            display: flex;
            color: #e9494b;
            border: 1px solid #e9494b;
            padding: 6px 10px;

            justify-content: center;
            align-items: center;
            border-radius: 5px;
            .viewAllLabel {
                margin-top: 2px;
                font-size: 0.8rem;
            }
            .arrowIcon {
                margin-left: 5px;
            }
        }
    }

    .categoryListItemList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        .categoryItem {
            cursor: pointer;
            .categoryItemImage {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            .category {
                background-color: #e9494b;
                width: 110px;
                text-align: center;
                font-weight: bold;
                color: white;
                padding: 5px 0;
                border-radius: 10px;
                margin-bottom: 5px;
                margin-left: auto;
                margin-right: 5px;
                
            }
            .headline {
                margin-top: 10px;
            }
        }
    }
}
