.categoriesList {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}