.categoriesListItemContainer {
    margin-top: 50px;
    .titleContainer {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
        .sectionTitle {
        }
        .viewAllContainer {
            display: flex;
            color: #e9494b;
            border: 1px solid #e9494b;
            padding: 6px 10px;

            justify-content: center;
            align-items: center;
            border-radius: 5px;
            .viewAllLabel {
                margin-top: 2px;
                font-size: 0.8rem;
            }
            .arrowIcon {
                margin-left: 5px;
            }
        }
    }

    .categoryListItemList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        
    }
}
