.container {
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-top: 20px;
    padding-bottom: 30px;

    .titleContainer {
        display: flex;
        justify-content: space-between;
    }
    .loadingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .archArchList {
        display: grid;
        grid-gap: 20px;
        margin-top: 10px;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    }
}

@media (max-width: 550px) {
    .container {
        .archArchList {
            display: grid;
            grid-gap: 20px;
            margin-top: 10px;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }
}
